.Gif {
  border: 1px solid rgb(255, 189, 48);
  border-radius: 10px;
  margin: 10px;
  width: 500px;
  display: flex; 
  flex-direction: column;
  padding: 20px;
  color: rgb(68, 17, 75);
  text-decoration: none;
}

.Gif img {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Gif:hover {
  border: 3px solid rgb(255, 189, 48);
}
