.App {
  text-align: center;
}

.App-content {
  background-color: #f7a4fd;
  padding: 20px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(68, 17, 75);
}

img {
  max-width: 150px;
  margin-bottom: 20px;
}

h1, h2, h3, h4, p {
  color: rgb(68, 17, 75);
}

.Link {
  text-decoration: none;
  color:rgb(68, 17, 75)
}

.Link:hover {
  color: rgb(41, 159, 205);
}

li {
  text-align: left;
}
